/* Header 1*/
.mainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .topNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
  .navigation {
    /* background-color: #46DFE9; */
    Height: 150px;
    margin-bottom: 20px;
  }
  .navigation img {
    height: 150px;
    width:200px;
  }
  .navigation ul {
    color: black;
    font-size: 16pt;
    margin-top: 30px;
  }

/* Header 2*/
.secondNav {
  background-color: black;
  padding: 20px;
}

/* Jumbotron */
.jumbotron {
  background-image: url("../Images/Drawchange Prototype 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  height: calc(100vh-25px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumboCopy {
  width: 70px;
  min-width: 500px;
  max-width: 700px;
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 300px;
  border-radius: 25px;
}

/* Content 1*/
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.col-md {
  height: 300px;
}

/* Content 2*/
.sideAccent {
  background: #007bff;
  width: 15px;
}
.imageContainer img {
  width: 100%;
}
.imageContainer {
  padding: 50px;
}
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}